<% var render = function(variable) { %>



  <% if (!variable) { %>

    <%= variable %>

  <%  } else if (variable instanceof Array) { %>
    <div class="array">
      <% variable.forEach(function(element) { %>
        <div class="element">
          <div class="variable">
            <% render(element) %>

          </div>
        </div>
        <% }); %>
      </div>
    <% } else if (typeof variable === 'object') { %>
      <div class="object">
        <% Object.keys(variable).forEach(function(key) { %>
          <div class="variable pair">
            <div class="key">
              <%= key %>
            </div>
            <div class="value">

              <% render(variable[key]); %>
            </div>

          </div>
        <% }); %>
      </div>
    <% } else { %>

      <%= variable %>

  <%  } %>
<% }; %>

<div class="variable">
  <% render(variable); %>
</div>
