<% var render = function(variable) { %>



  <% if (!variable) { %>
    <div class="variable">
      <%= variable %>
    </div>

  <%  } else if (variable instanceof Array) { %>
    <div class="array">
      <% variable.forEach(function(element) { %>
        <div class="element">
          <% render(element) %>
        </div>
        <% }); %>
      </div>
    <% } else if (typeof variable === 'object') { %>
      <div class="object">
        <% Object.keys(variable).forEach(function(key) { %>
          <div class="pair">
            <div class="key">
              <%= key %>
            </div>
            <div class="value">

              <% render(variable[key]); %>
            </div>

          </div>
        <% }); %>
      </div>
    <% } else { %>
      <div class="variable">
        <%= variable %>
      </div>

  <%  } %>
<% }; %>

<% render(variable); %>
