<!DOCTYPE html>
<html>
  <head>
    <title>Test</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/styles/main.css">
  </head>
  <body>

    <% include ../partials/document %>

  </body>
</html>
