<!DOCTYPE html>
<html>
  <head>
    <title>Test</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/styles/main.css">
  </head>
  <body>

    <% variables.forEach(function(variable) { %>
      <% include ../partials/document %>
    <% }); %>

  </body>
</html>
